.Modal {
  .bg {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: var(--black);
    opacity: 0.75;
  }
  .body {
    position: fixed;
    z-index: 101;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--bg2);
    width: calc(var(--width) - 2rem);
    padding: 0.5rem;
  }
}
