.OCR {
  position: relative;
  display: flex;
  justify-content: center;
}

.Rect {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid var(--secondary);
}
