.OCR {
  position: relative;
  display: flex;
  justify-content: center;
}

.Loading {
  text-align: center;
  svg {
    width: 5rem;
    color: var(--secondary);
  }
}

.Rect {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid var(--secondary);
}
