.KeyView {
  margin: 5rem 0px;
}

@keyframes breathing {
  from {
    filter: drop-shadow(0 0 4px var(--secondary));
  }
  to {
    filter: drop-shadow(0 0 10px var(--secondary));
  }
}

.KeyIcon {
  text-align: center;
  color: var(--secondary);
  svg {
    width: 40%;
    filter: drop-shadow(0 0 4px var(--secondary));
    animation: breathing 1s ease-in-out infinite alternate-reverse;
  }
}

.Body {
  max-width: 80%;
  margin: 1rem auto;
  font-size: 1.5rem;
  .Scheme {
    border-bottom: 1px solid var(--secondary);
    margin-bottom: 1rem;
  }
  .Row {
    margin-top: 0.5em;
    border-bottom: 1px dotted var(--secondary);
    .Label {
      color: var(--secondary);
      margin-right: 1rem;
      font-size: 0.8em;
    }
  }
}
