.PhoneMain {
  .inner {
    position: relative;
    max-width: var(--width);
    margin: auto;
    background-color: var(--bg2);
    min-height: 100vh;
    padding: 0.5rem;
    padding-bottom: 3rem;
    box-sizing: border-box;
  }
}
