@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.PhoneMain {
  .inner {
    position: relative;
    max-width: var(--width);
    margin: auto;
    background-color: var(--bg2);
    min-height: 100vh;
    padding: 0.5rem;
    padding-bottom: 3rem;
    box-sizing: border-box;
    background: linear-gradient(
      -45deg,
      var(--bg1),
      var(--bg2),
      var(--bg3),
      var(--bg4)
    );
    background-size: 300% 300%;
    animation: gradient 10s ease infinite;
  }
}
