:root {
  --primary: #3063d4;
  --secondary: #30b3d4;
  --gray: #f0f1f3;
  --gray2: #d4d5d8;
  --gray3: #b2b3b6;
  --gray4: #8f9094;
  --gray5: #737477;
  --gray6: #545557;
  --black: #020e1a;
  --bg1: rgb(11, 8, 41);
  --bg2: rgb(18, 13, 70);
  --font: #e1e6ec;
  --red: #f33e62;

  --width: 500px;
  --width-sm: 850px;
  --width-md: 1200px;
}

body {
  font-family: 'Inter', 'BlinkMacSystemFont', 'Hiragino Kaku Gothic ProN',
    'Hiragino Sans', Meiryo, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
  margin: 0px;
  font-size: 1.25rem;
  color: var(--font);
  background-color: var(--bg1);
}
